---
import * as CONTENT from "../pages/content"
---

<!-- Hero section -->
<header class="mx-auto py-8">
  <article
    class="grid grid-cols-3 grid-rows-1 place-items-center w-[98vw] max-w-2xl"
  >
    <div
      class="rounded-full border-primary self-end shadow-2xl md:w-24 w-20 aspect-square"
    >
      <img
        src="/profile.jpg"
        alt="profile_picture"
        class="object-cover w-full h-full rounded-full grayscale-[50] hover:grayscale-0"
      />
    </div>

    <div class="grid text-center self-center whitespace-nowrap">
      <h1 class="text-3xl text-text">{CONTENT.name}</h1>
      <h3 class="text-lg text-text/90">{CONTENT.designation}</h3>
      <h5 class="text-sm text-text/80">{CONTENT.location}</h5>
    </div>

    <div class="md:grid text-right self-end hidden">
      <h6 class="text-sm text-text/70">{CONTENT.pronouns}</h6>
      <a
        href={CONTENT.website}
        target="_blank"
        class="hover:text-blue-300 flex items-center justify-center"
      >
        {CONTENT.website}
      </a>
    </div>
  </article>
</header>
